html,body{
    margin: 0;
    height: 100%;
    max-width: 100vw;
    width: 100vw;
}
.page1{
    background: radial-gradient(circle at right bottom, #28427b, #286790, #28427b);
    display: flex;
    height: 100vh;
    width: 100vw;
}

@media (max-width : 971px) {
    .page1{
        flex-direction: column;
    }    
}
.image-holder{
    height: 100vh;
    width: 100vw;
    overflow:hidden;
    position: absolute;
}
.leftpane{
    overflow: hidden;
    height: 100vh;
    width: 50%;
}
.rightpane{
    width: 50%;
    overflow: hidden;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#query{
    position: relative;
}
#suggestions {
position: relative;
top: 100%;
left: 0;
z-index: 1;
margin-top: 5px;
width: 100%;

border: 1px solid #ccc;
border-radius: 4px;
box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Style the datalist options */
#suggestions option {
padding: 5px;
cursor: pointer;
}

#suggestions option:hover {
background-color: #f2f2f2;
}
fieldset {
border:none;
width: fit-content;
border-radius: 5px;
display: flex;
}

#searchinputform{
    width: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
}


input {
font-size: 18px;
padding: 5px;
height: 35px;
width: 35vw;
border: 1px solid #3a8bfc84;
outline: none;
border-radius: 5px;
color: rgb(8, 8, 33);
/*   border-bottom: none; */
}

#searchbutton{
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
datalist {
position: absolute;
top: 50px;
background-color: white;
border: 1px solid #ff006f84;
border-radius: 0 0 5px 5px;
border-top: none;
font-family: sans-serif;
width: 35vw;
padding: 5px;

max-height: 38vh;
overflow-y: auto;

}

.style-1::-webkit-scrollbar
{
	width: 0px;
	
}

.style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
}

option {
background-color: white;
padding: 4px;
color: rgb(8, 8, 33);
margin-bottom: 1px;
font-size: 18px;
cursor: pointer;
}

option:hover,  .active{
background-color: lightblue;
}




/* Clock */

@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
p {
    margin: 0;
    padding: 0;
  }
  #clock {
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    position: absolute;
    display: flex;
    height: 50%;
    /* margin: 10% auto; */
    width: 50%;
    /* transform: translate(-50%, -50%); */
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
    flex-direction: column;
    justify-content: flex-end;
  }
  #clock .time {
    letter-spacing: 0.05em;
    font-size: 5.5rem;
    padding: 5px 0;
  }
  #clock .date {
    letter-spacing: 0.1em;
    font-size: 1.5rem;
  }
  #clock .text {
    letter-spacing: 0.1em;
    font-size: 1.5rem;
    padding: 20px 0 0;
  }
  

/* book marks */

  .bookmark{
    margin: 1%;
    position: relative;
    
  }

  .bookmark-link{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font: 1.1em 'Roboto', sans-serif;
  }

  .bookmark-icon{
    width: 50px;
}

.bookmark-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background-color: cadetblue;
  }




  /* background image */
  .circle-ai-container {
    left:25vw;
    display: flex;
    
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    /* margin: 0 auto; */
    justify-content: center;
    align-items: center;
    }
    
    .circle-ai {
        opacity: 0.4;
        position: absolute;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        filter: drop-shadow(0px 0px 10px #3cccfc);

  }
  
  .circle1 {
    width: 210px;
    height: 210px;
    border: 17px dashed #00bfff;
    animation: rotate 8s linear infinite;
  }
  
  .circle2 {
    width: 290px;
    height: 290px;
    border: 14px solid #00bfff;
    animation: rotate 10s linear infinite reverse;
  }
  
  .circle3 {
    width: 420px;
    height: 420px;
    border: 24px solid #00bfff;
     border-color: #00bfff transparent #00bfff transparent;
  
    animation: rotate 12s linear infinite;
  }
  
  .circle4 {
    width: 360px;
    height: 360px;
    border: 15px dashed #00bfff;
    animation: rotate 14s linear infinite reverse;
  }
 
  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

